*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}
body{
    line-height:1;
    font-family: sans-serif;
    font-weight: 400;
}
/* ************* */
/* Header style */
/* ************* */
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3.2rem;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}
.header-logo{
    display:flex;
    gap: 20px;
    align-items: center;
}
.header-logo img{
    width:5rem;
    /* height:5rem; */
    border-radius:50%;
    object-fit: cover;
}
.brand-name{
    font-size: 3.4rem;
    font-weight: 500;
}
.navigation{
    display:flex;
    gap:10px;
}
 a:link, a:visited{
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(122, 113, 99);
    padding:1rem;
    border-radius: .8rem;
}
.navigation a:active, a:hover{
    background-color: rgb(199, 198, 198);
    color: #000;
}

/* ************* */
/* portfolio image style */
/* ************* */

.main{
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.portfolio-img{
    width: 100%;
}