* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: gray;
  display: grid;
  grid-template-columns: 150px 200px 200px 150px;
  grid-template-rows: 200px 150px;
}
.el {
  font-size: 20px;
  font-weight: 800;
  font-family: sans-serif;
}
.el--1 {
  background-color: red;
}
.el--2 {
  background-color: yellow;
}
.el--3 {
  background-color: green;
}
.el--4 {
  background-color: blue;
}
.el--5 {
  background-color: purple;
}
.el--6 {
  background-color: pink;
}
.el--7 {
  background-color: orange;
}
.el--8 {
  background-color: brown;
}
