.one {
  background-color: pink;
}
.two {
  background-color: yellow;
}
.three {
  background-color: green;
}
.four {
  background-color: tomato;
}

/* .section {
  height: 500px;
  background-color: rgb(255, 71, 230);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

header nav div {
  /* border: 1px solid black; */
}
header nav {
  padding: 10px;
  border: 2px solid rgb(139, 2, 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo,
.header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
