/* "*" universal selector  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box_one {
  height: 400px;
  background-color: brown;
}
.box_one h1 {
  border: 1px solid black;
  display: inline;
}
.box_one p {
  border: 1px solid green;
  display: inline;
}
.box_one span {
  border: 1px solid red;
  display: block;
}

/* flex property styling */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* flex-direction: column-reverse; */
  border: 1px solid rgb(255, 0, 0);
  height: 400px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: sans-serif;
  width: 200px;
  height: 200px;
}
.one {
  background-color: pink;
}
.two {
  background-color: yellow;
}
.three {
  background-color: green;
}
.four {
  background-color: tomato;
}
